@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Space Grotesk", sans-serif !important;
  color: "#1e1e1e";
}
.logo {
  font-family: "Mystique" !important;
}

*::-webkit-scrollbar {
  width: 10px;
  border-radius: 30px;
  background-color: "#2B2D2E";
}

*::-webkit-scrollbar-thumb {
  background-color: #fe8281;
  border-radius: 30px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
